{% extends 'core/base.html' %}

{% block body %}
<div class="container px-6 pb-12 mx-auto grid">
    <h1
        class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
    >
        Registrar Venta
    </h1>

    <div class="mb-4 ">
        <div class="flex justify-between">
            <label class="block text-sm">
                <h2 class="text-lg text-gray-700 dark:text-gray-400">Agregar Cliente</h2>
                <div
                  class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400"
                >
                <select class="block w-24 pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input" id="clients_options" data-live-search="true">
                    <option value="" selected>Seleccionar Cliente</option>
                </select>
                    
                  <div
                    class="absolute inset-y-0 flex items-center ml-3 pointer-events-none"
                  >
                  <svg class="w-5 h-5" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                  </svg>
                    
                    </svg>
                  </div>
                </div>
              </label>

              <div class="my-6 w-2/16">
                <button
                    class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                    onclick="servicios_add_table_row('registro_agregar_servicios');"
                    >
                    Agregar Producto
                    <span class="ml-2" aria-hidden="true">+</span>
                </button>
            </div>

        </div>
    </div>
   
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
            <thead>
            <tr
                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
            >
                <th class="px-4 py-3">#</th>
                <th class="px-4 py-3">Servicio</th>
                <th class="px-4 py-3">Cantidad</th>
                <th class="px-4 py-3">Monto</th>
                <th class="px-4 py-3">Acción</th>
            </tr>
            </thead>
            <tbody
            class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
            >
            <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3">
                    <div class="flex items-center text-sm">
                        <div>
                            <p class="font-semibold">1</p>
                            
                        </div>
                    </div>
                </td>
                <td class="px-4 py-3">
                <div class="text-sm">
                    <label class="block text-sm">
                        <div
                          class=" text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400"
                        >
                            <select class="block w-24 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input" id="clients_options" data-live-search="true">
                                <option value="" selected>Seleccionar producto</option>
                            </select>
                            
                        </div>
                    </label>
                </div>
                </td>
                <td class="px-4 py-3 text-sm">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Cantidad</span>
                        <input
                          class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                          placeholder="0,00"
                        />
                    </label>
                </td>
                <td class="px-4 py-3 text-sm">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">Monto</span>
                        <input
                          class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                          placeholder="0,00" 
                        />
                    </label>
                </td>
                <td class="px-4 py-3">
                <div class="flex items-center space-x-4 text-sm">
                    <button
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                    aria-label="Delete"
                    >
                    <svg
                        class="w-5 h-5"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                    >
                        <path
                        fill-rule="evenodd"
                        d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                        clip-rule="evenodd"
                        ></path>
                    </svg>
                    </button>
                </div>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div
        class="flex justify-end w-full px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >

            <button
                class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                id="btn_generar_servicio_facturado"
                >
                Generar
                <span class="ml-2" aria-hidden="true">+</span>
            </button>
        </div>
    </div>
</div>

<div class="hidden">
    <label class="form-label">Producto</label>
    <select class="form-select" id="services_options" data-live-search="true"></select>
</div>
{% endblock %}