{% extends 'core/base.html' %}

{% block body %}
<div class="container px-6 pb-12 mx-auto grid">
    <h1 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Gestión de servicios
    </h1>

    <div class="mb-4 ">
        <div class="flex justify-between">
            <label class="block text-sm">
                <h2 class="text-lg text-gray-700 dark:text-gray-400">Agregar Cliente</h2>
                <div class="relative text-gray-500 focus-within:text-purple-600 dark:focus-within:text-purple-400">
                    <select
                        class="block w-24 pl-10 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                        id="clients_options" data-live-search="true">
                        <option value="" selected>Seleccionar Cliente</option>
                    </select>

                    <div class="absolute inset-y-0 flex items-center ml-3 pointer-events-none">
                        <svg class="w-5 h-5" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z">
                            </path>
                        </svg>

                        </svg>
                    </div>
                </div>
            </label>

            <div class="my-6 w-2/16">
                <button
                    class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                    onclick="servicios_add_table_row('registro_agregar_servicios');">
                    Agregar Servicio
                    <span class="ml-2" aria-hidden="true">+</span>
                </button>
            </div>

        </div>
    </div>

    <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
            <table id="registro_agregar_servicios" class="w-full whitespace-no-wrap">
                <thead>
                    <tr
                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3">#</th>
                        <th class="px-4 py-3">Servicio</th>
                        <th class="px-4 py-3">Monto</th>
                        <th class="px-4 py-3">Acción</th>
                    </tr>
                </thead>
                <tbody class="tbody_table bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                </tbody>
            </table>
        </div>
        <div
            class="flex justify-end w-full px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">

            <button
                class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                id="btn_generar_servicio_facturado">
                Generar
                <span class="ml-2" aria-hidden="true">+</span>
            </button>
        </div>
    </div>

    <div class="hidden">
        <div class="col-md-12" style="margin-bottom: 350px">
            <label class="form-label">Producto</label>
            <select class="form-control" id="services_options" data-live-search="true"></select>
        </div>
    </div>
</div>
{% endblock %}