{% extends 'core/base.html' %}

{% block body %}
<div class="container px-6 pb-12 mx-auto grid">
    <div class="flex justify-between">
        <h1 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Transacciones
        </h1>
    </div>

    <div class="w-full overflow-hidden rounded-lg shadow-xs p-10">
        <div class="w-full p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <input type="hidden" id="transaccion_selected_id" value="">

            <table id="tabla_transacciones" class="w-full whitespace-no-wrap " width="99%">
                <thead>
                    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3">ID</th>
                        <th class="px-4 py-3">Acción</th>
                        <th class="px-4 py-3">Producto</th>
                        <th class="px-4 py-3">Cliente</th>
                        <th class="px-4 py-3">Usuario</th>
                        <th class="px-4 py-3">Cantidad</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800 flex flex-wrap tbody_table"></tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}